# INFO 3402 – Class 27: Connecting to and querying a database

[Brian C. Keegan, Ph.D.](http://brianckeegan.com/)  
[Assistant Professor, Department of Information Science](https://www.colorado.edu/cmci/people/information-science/brian-c-keegan)  
University of Colorado Boulder  

Copyright and distributed under an [MIT License](https://opensource.org/licenses/MIT)

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
pd.options.display.max_columns = 100

from sqlalchemy import create_engine

SQL has been around for decades and people have created different versions of it (SQL, MySQL, MariaSQL, PostgreSQL, *etc*.). We're going to be using MySQL, which may not always work the same as other versions. Also avail yourself of the many online resources and tutorials for learning about SQL:

* [Class DataCamp lessons](https://www.datacamp.com/groups/info-2201-computational-reasoning-2)
* [W3 Schools tutorials](https://www.w3schools.com/sql/default.asp)
* [SQLCourse.com](http://www.sqlcourse.com/)
* [TutorialsPoint](https://www.tutorialspoint.com/sql/index.htm)
* [1KeyData](http://www.1keydata.com/sql/sql.html)

You'll also need to install a driver for Python to be able to talk to the MySQL database. There are a few different drivers floating around and they appear to have different warts for different systems. 

If you're on Windows, [MySQL Connector](https://dev.mysql.com/doc/connector-python/en/) appears to work best: `conda install mysql-connector-python`

If you're on a Mac, [PyMySQL](https://github.com/PyMySQL/PyMySQL) appears to work best: `conda install pymysql`

## Connecting (and staying connected) to the database
You'll need a connection to a database in order to run queries. To make a connection, you'll need to specify a driver that handles translating requests.

In [3]:
# Web location of the database (on Amazon Web Services)
host = 'info3402-f19-baseball.cjuyvrfem14z.us-west-2.rds.amazonaws.com'
port = 3306
user = 'student'
password = 'sk0buff$'
database = 'innodb'

# Define the "engine" with all the information to connect to the database
# dialect+driver://user:password@host/dbname[?key=value..]

# Using MySQL-Connector
# engine = create_engine('mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}'.format(user,password,host,port,database),
#                        connect_args={'connect_timeout': 1000})

# Using PyMySQL
engine = create_engine('mysql+pymysql://{0}:{1}@{2}:{3}/{4}'.format(user,password,host,port,database),
                       connect_args={'connect_timeout': 1000})

# Make the connection
conn = engine.connect()

Run a super-simple query to show all the tables in the database. This is the Lahman 2016 database as well as all the Retrosheet gamelogs data since 1871 available under the "Gamelog" table.

In [4]:
pd.read_sql_query('show tables',conn)

       Tables_in_innodb
0           AllstarFull
1           Appearances
2        AwardsManagers
3         AwardsPlayers
4   AwardsShareManagers
5    AwardsSharePlayers
6               Batting
7           BattingPost
8        CollegePlaying
9              Fielding
10           FieldingOF
11      FieldingOFsplit
12         FieldingPost
13             Gamelogs
14           HallOfFame
15            HomeGames
16             Managers
17         ManagersHalf
18               Master
19                Parks
20               People
21             Pitching
22         PitchingPost
23             Salaries
24              Schools
25           SeriesPost
26                Teams
27      TeamsFranchises
28            TeamsHalf

In the example above, we passed the query "show tables" directly into the `read_sql_query` function. However, we are going to write some much more complicated queries over the next few weeks. Let's bring the *query string* outside of the function and use Python's special triple-quote strings that lets us have line breaks, indents, and other formatting inside that's easier for us to read. 

We'll go into more depth about how to write queries soon, but this query will select all the columns from the "Gamelog" table and only return 5 rows of data.

Both `query_string_1` and `query_string_2` perform identically, but the second one below will be easier to read once we add lots of statements.

In [5]:
query_string_1 = "SELECT * FROM Gamelogs LIMIT 5"

query_1_df = pd.read_sql_query(query_string_1,conn)

# Depending on the driver you use, you may wish to convert "na" strings to true null values
# query_1_df = pd.read_sql_query(query_string_1,conn).replace({'na':np.nan})

query_1_df

,season,date,game_number,day,visitor,visitor_lg,visitor_game_number,home,home_lg,home_game_number,visitor_score,home_score,outs,daynight,completion,forfeit,protest,park,attendance,game_minutes,visitor_linescore,home_linescore,visitor_ab,visitor_h,visitor_2b,visitor_3b,visitor_hr,visitor_rbi,visitor_sh,visitor_sf,visitor_hbp,visitor_bb,visitor_ibb,visitor_so,visitor_sb,visitor_cs,visitor_gidp,visitor_ci,visitor_lob,visitor_pitchers_used,visitor_individual_er,visitor_team_er,visitor_wp,visitor_balks,visitor_putouts,visitor_assists,visitor_errors,visitor_passed_balls,visitor_double_plays,visitor_triple_plays,...,visitor_batter_3_id,visitor_batter_3_name,visitor_batter_3_pos,visitor_batter_4_id,visitor_batter_4_name,visitor_batter_4_pos,visitor_batter_5_id,visitor_batter_5_name,visitor_batter_5_pos,visitor_batter_6_id,visitor_batter_6_name,visitor_batter_6_pos,visitor_batter_7_id,visitor_batter_7_name,visitor_batter_7_pos,visitor_batter_8_id,visitor_batter_8_name,visitor_batter_8_pos,visitor_batter_9_id,visitor_batter_9_name,visitor_batter_9_pos,home_batter_1_id,home_batter_1_name,home_batter_1_pos,home_batter_2_id,home_batter_2_name,home_batter_2_pos,home_batter_3_id,home_batter_3_name,home_batter_3_pos,home_batter_4_id,home_batter_4_name,home_batter_4_pos,home_batter_5_id,home_batter_5_name,home_batter_5_pos,home_batter_6_id,home_batter_6_name,home_batter_6_pos,home_batter_7_id,home_batter_7_name,home_batter_7_pos,home_batter_8_id,home_batter_8_name,home_batter_8_pos,home_batter_9_id,home_batter_9_name,home_batter_9_pos,additional_info,acquisition
0,1871,18710504,0,Thu,CL1,na,1,FW1,na,1,0,2,54.0,D,None,None,None,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.0,6.0,1.0,-1.0,-1.0,-1.0,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,None,Y
1,1871,18710505,0,Fri,BS1,na,1,WS3,na,1,20,18,54.0,D,None,None,None,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,-1.0,5.0,3.0,-1.0,-1.0,-1.0,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,1871,18710506,0,Sat,CL1,na,2,RC1,na,1,12,4,54.0,D,None,None,None,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,None,Y
3,1871,18710508,0,Mon,CL1,na,3,CH1,na,1,12,14,54.0,D,None,None,None,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,None,Y
4,1871,18710509,0,Tue,BS1,na,2,TRO,na,1,9,5,54.0,D,None,None,None,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [7]:
query_string_2 = """
SELECT 
    * 
FROM 
    Gamelogs 
LIMIT 
    5
"""

query_2_df = pd.read_sql_query(query_string_2,conn)

# Depending on the driver you use, you may wish to convert "na" strings to true null values
# query_2_df = pd.read_sql_query(query_string_2,conn).replace({'na':np.nan})

query_2_df

,season,date,game_number,day,visitor,visitor_lg,visitor_game_number,home,home_lg,home_game_number,visitor_score,home_score,outs,daynight,completion,forfeit,protest,park,attendance,game_minutes,visitor_linescore,home_linescore,visitor_ab,visitor_h,visitor_2b,visitor_3b,visitor_hr,visitor_rbi,visitor_sh,visitor_sf,visitor_hbp,visitor_bb,visitor_ibb,visitor_so,visitor_sb,visitor_cs,visitor_gidp,visitor_ci,visitor_lob,visitor_pitchers_used,visitor_individual_er,visitor_team_er,visitor_wp,visitor_balks,visitor_putouts,visitor_assists,visitor_errors,visitor_passed_balls,visitor_double_plays,visitor_triple_plays,...,visitor_batter_3_id,visitor_batter_3_name,visitor_batter_3_pos,visitor_batter_4_id,visitor_batter_4_name,visitor_batter_4_pos,visitor_batter_5_id,visitor_batter_5_name,visitor_batter_5_pos,visitor_batter_6_id,visitor_batter_6_name,visitor_batter_6_pos,visitor_batter_7_id,visitor_batter_7_name,visitor_batter_7_pos,visitor_batter_8_id,visitor_batter_8_name,visitor_batter_8_pos,visitor_batter_9_id,visitor_batter_9_name,visitor_batter_9_pos,home_batter_1_id,home_batter_1_name,home_batter_1_pos,home_batter_2_id,home_batter_2_name,home_batter_2_pos,home_batter_3_id,home_batter_3_name,home_batter_3_pos,home_batter_4_id,home_batter_4_name,home_batter_4_pos,home_batter_5_id,home_batter_5_name,home_batter_5_pos,home_batter_6_id,home_batter_6_name,home_batter_6_pos,home_batter_7_id,home_batter_7_name,home_batter_7_pos,home_batter_8_id,home_batter_8_name,home_batter_8_pos,home_batter_9_id,home_batter_9_name,home_batter_9_pos,additional_info,acquisition
0,1871,18710504,0,Thu,CL1,na,1,FW1,na,1,0,2,54.0,D,None,None,None,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.0,6.0,1.0,-1.0,-1.0,-1.0,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,None,Y
1,1871,18710505,0,Fri,BS1,na,1,WS3,na,1,20,18,54.0,D,None,None,None,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,-1.0,5.0,3.0,-1.0,-1.0,-1.0,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,1871,18710506,0,Sat,CL1,na,2,RC1,na,1,12,4,54.0,D,None,None,None,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,None,Y
3,1871,18710508,0,Mon,CL1,na,3,CH1,na,1,12,14,54.0,D,None,None,None,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,None,Y
4,1871,18710509,0,Tue,BS1,na,2,TRO,na,1,9,5,54.0,D,None,None,None,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

Your connection to the database is not permanently open, either your client or the database server may close it. If you try to query a database over a closed connection, you'll get a lot of error messages related to the connection being closed.

In [8]:
# Force the connection to close just to demo what errors appear
conn.close()

# This should return "connection is closed" errors now even though it was working before
query_2_df = pd.read_sql_query(query_string_2,conn)
query_2_df

StatementError: (sqlalchemy.exc.ResourceClosedError) This Connection is closed
[SQL:
SELECT
    *
FROM
    Gamelogs
LIMIT
    5
]

We can be super-careful and re-start the connection to the database every time we run a query with something like this:

In [11]:
# Restart the connection and name it conn. 
# The conn is only temporarily open while you made the query, it will no longer work outside of this "loop"

with engine.connect() as conn:
    # Run the query with the conn connection you just created
    query_2_df = pd.read_sql_query(query_string_2,conn).replace({'na':np.nan})
    
# Look at the query
query_2_df

,season,date,game_number,day,visitor,visitor_lg,visitor_game_number,home,home_lg,home_game_number,visitor_score,home_score,outs,daynight,completion,forfeit,protest,park,attendance,game_minutes,visitor_linescore,home_linescore,visitor_ab,visitor_h,visitor_2b,visitor_3b,visitor_hr,visitor_rbi,visitor_sh,visitor_sf,visitor_hbp,visitor_bb,visitor_ibb,visitor_so,visitor_sb,visitor_cs,visitor_gidp,visitor_ci,visitor_lob,visitor_pitchers_used,visitor_individual_er,visitor_team_er,visitor_wp,visitor_balks,visitor_putouts,visitor_assists,visitor_errors,visitor_passed_balls,visitor_double_plays,visitor_triple_plays,...,visitor_batter_3_id,visitor_batter_3_name,visitor_batter_3_pos,visitor_batter_4_id,visitor_batter_4_name,visitor_batter_4_pos,visitor_batter_5_id,visitor_batter_5_name,visitor_batter_5_pos,visitor_batter_6_id,visitor_batter_6_name,visitor_batter_6_pos,visitor_batter_7_id,visitor_batter_7_name,visitor_batter_7_pos,visitor_batter_8_id,visitor_batter_8_name,visitor_batter_8_pos,visitor_batter_9_id,visitor_batter_9_name,visitor_batter_9_pos,home_batter_1_id,home_batter_1_name,home_batter_1_pos,home_batter_2_id,home_batter_2_name,home_batter_2_pos,home_batter_3_id,home_batter_3_name,home_batter_3_pos,home_batter_4_id,home_batter_4_name,home_batter_4_pos,home_batter_5_id,home_batter_5_name,home_batter_5_pos,home_batter_6_id,home_batter_6_name,home_batter_6_pos,home_batter_7_id,home_batter_7_name,home_batter_7_pos,home_batter_8_id,home_batter_8_name,home_batter_8_pos,home_batter_9_id,home_batter_9_name,home_batter_9_pos,additional_info,acquisition
0,1871,18710504,0,Thu,CL1,NaN,1,FW1,NaN,1,0,2,54.0,D,None,None,None,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.0,6.0,1.0,-1.0,-1.0,-1.0,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,None,Y
1,1871,18710505,0,Fri,BS1,NaN,1,WS3,NaN,1,20,18,54.0,D,None,None,None,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,-1.0,5.0,3.0,-1.0,-1.0,-1.0,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,1871,18710506,0,Sat,CL1,NaN,2,RC1,NaN,1,12,4,54.0,D,None,None,None,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,None,Y
3,1871,18710508,0,Mon,CL1,NaN,3,CH1,NaN,1,12,14,54.0,D,None,None,None,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,None,Y
4,1871,18710509,0,Tue,BS1,NaN,2,TRO,NaN,1,9,5,54.0,D,None,None,None,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

Alternatively, you can just re-run this line of code everytime you get a connection error.

In [13]:
conn = engine.connect()

## Writing queries

By far the most common class of queries you will write will involve retrieving information from a database (as opposed to putting information into one or managing it). Whenever we want to fetch and display data, we will need to use a combination of at least two "clauses" in our complete select statement:

1. Use the [SELECT clause](https://www.w3schools.com/sql/sql_select.asp) to specify the columns and format of the data you want to access. We can select all the columns available in a table with the star "\*" or specific columns by passing column names. We also need to say which of the tables in the database we're going to use.
2. Use the FROM clause to specify the table containing the columns and data you want to access.
3. We're going to add a third statement, the [LIMIT clause](https://www.w3schools.com/sql/sql_top.asp), to only return the first few rows to keep things fast and easy for now.

Select all the columns from the Batting table, showing only the first 5.

In [14]:
q = """
SELECT 
    * 
FROM 
    Batting 
LIMIT 
    5
"""

pd.read_sql_query(q,conn).replace({None:np.nan})

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,0,0,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,0,0,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,5,0,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,2,2,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,3,0,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

We can select a specific sub-set columns out of this table as well by passing the column names inside the SELECT statement. SQL will only return those columns and nothing more.

Select the player ID, team ID, league ID, and number of games played from the Batting table, showing only the first 5.

In [15]:
q = """
SELECT 
    playerID, teamID, lgID, G
FROM 
    Batting 
LIMIT 
    5
"""

pd.read_sql_query(q,conn).replace({None:np.nan})

    playerID teamID  lgID   G
0  abercda01    TRO   NaN   1
1   addybo01    RC1   NaN  25
2  allisar01    CL1   NaN  29
3  allisdo01    WS3   NaN  27
4  ansonca01    RC1   NaN  25

How to get a table with only 10 rows and the playerID, yearID, SO, and HBP from the Batting table?

In [17]:
q = """
SELECT
    playerID, yearID, SO, HBP
FROM
    Batting
"""

pd.read_sql_query(q,conn).replace({None:np.nan})

         playerID  yearID     SO  HBP
0       abercda01    1871    0.0  NaN
1        addybo01    1871    0.0  NaN
2       allisar01    1871    5.0  NaN
3       allisdo01    1871    2.0  NaN
4       ansonca01    1871    1.0  NaN
...           ...     ...    ...  ...
105856  zimmebr01    2018   44.0  1.0
105857  zimmejo02    2018    2.0  0.0
105858  zimmery01    2018   55.0  3.0
105859  zobribe01    2018   60.0  2.0
105860  zuninmi01    2018  150.0  6.0

[105861 rows x 4 columns]

### DISTINCT clause

We can retrieve only the unique values from a database table if entries are repeated over and over again using the [SELECT DISTINCT](https://www.w3schools.com/sql/sql_distinct.asp) clause.

Select the league ID column in the Batting table and only return the unique values.

The [National League (NL)](https://en.wikipedia.org/wiki/National_League) and [American League (AL)](https://en.wikipedia.org/wiki/American_League) are the two contemporary professional leagues in MLB, but there are historical leagues that included in the data:

* AA - [American Association](https://en.wikipedia.org/wiki/American_Association_%2819th_century%29) (1882-1891)
* FL - [Federal League](https://en.wikipedia.org/wiki/Federal_League) (1913-1915)
* NA - [National Association](https://en.wikipedia.org/wiki/National_Association_of_Professional_Base_Ball_Players) (1871-1875)
* PL - [Player's League](https://en.wikipedia.org/wiki/Players%27_League) (1890)
* UA - [Union Association](https://en.wikipedia.org/wiki/Union_Association) (1894)

In [18]:
q = """
SELECT 
    DISTINCT lgID
FROM 
    Batting
"""

pd.read_sql_query(q,conn)

   lgID
0  None
1    NL
2    AA
3    UA
4    PL
5    AL
6    FL

How many different unique teamIDs are in the Batting table? This will list them all out.

In [19]:
q = """
SELECT 
    DISTINCT teamID
FROM 
    Batting
"""

pd.read_sql_query(q,conn)

    teamID
0      TRO
1      RC1
2      CL1
3      WS3
4      FW1
..     ...
144    ANA
145    ARI
146    TBA
147    MIL
148    MIA

[149 rows x 1 columns]

Wrapping the list of results inside a count will return the number of rows -- in this case, the number of unique teams.

In [20]:
q = """
SELECT 
    COUNT(DISTINCT teamID)
FROM 
    Batting
"""

pd.read_sql_query(q,conn)

   COUNT(DISTINCT teamID)
0                     149

If you want to know how many players on each team, you'll need to use a [GROUP BY](https://www.w3schools.com/sql/sql_groupby.asp) statement.

In [23]:
q = """
SELECT 
    teamID, COUNT(teamID)
FROM 
    Batting
GROUP BY
    teamID
"""

pd.read_sql_query(q,conn)

    teamID  COUNT(teamID)
0      ALT             18
1      ANA            337
2      ARI            974
3      ATL           2218
4      BAL           2671
..     ...            ...
144    WS6             19
145    WS7             25
146    WS8            113
147    WS9             38
148    WSU             51

[149 rows x 2 columns]

How to compute the total unique number of years we have data?

In [27]:
q = """
SELECT
    COUNT(DISTINCT yearID)
FROM
    Batting
"""

pd.read_sql_query(q,conn)

   COUNT(DISTINCT yearID)
0                     148

### WHERE clause

In pandas we used boolean filtering to only return those rows that met a criteria. In SQL, we use the [WHERE](https://www.w3schools.com/sql/sql_where.asp) clause to similarly filter the data to only those rows meeting some criteria. Note that because we're using the triple-quote convention to write queries, we can include quotes inside the query as well without breaking anything.

What are the schoolIDs for players educated in Colorado? Select all the columns from the Schools table where the state column is exactly equal to "CO".

In [29]:
q = """
SELECT 
    *
FROM 
    Schools
LIMIT
    5
"""

pd.read_sql_query(q,conn)

     schoolID                     name_full         city state country
0  abilchrist  Abilene Christian University      Abilene    TX     USA
1     adelphi            Adelphi University  Garden City    NY     USA
2    adrianmi                Adrian College       Adrian    MI     USA
3       akron           University of Akron        Akron    OH     USA
4     alabama         University of Alabama   Tuscaloosa    AL     USA

In [28]:
q = """
SELECT 
    *
FROM 
    Schools
WHERE
    state = "CO"
"""

pd.read_sql_query(q,conn)

,schoolID,name_full,city,state,country
0,coftlew,Fort Lewis College,Durango,CO,USA
1,colamar,Lamar Community College,Lamar,CO,USA
2,colocollege,Colorado College,Colorado Springs,CO,USA
3,colorado,University of Colorado,Boulder,CO,USA
4,coloradost,Colorado State University,Fort Collins,CO,USA
5,comines,Colorado School of Mines,Golden,CO,USA
6,costpue,Colorado State University-Pueblo,Pueblo,CO,USA
7,cotrini,Trinidad State Junior College,Trinidad,CO,USA
8,denver,University of Denver,Denver,CO,USA
9,mesast,Mesa State College,Grand Junction,CO,USA
10,ncolorado,University of Northern Colorado,Greeley,CO,USA

We can also filter on numeric values. Select all the columns from the Batting table where the HR are greater than 60.

In [36]:
q = """
SELECT 
    * 
FROM 
    Batting 
WHERE
    HR >= 60
    OR
    AB > 400
"""

pd.read_sql_query(q,conn)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,wrighge01,1875,1,BS1,None,79,408,106,136,20,7,2,61.0,13.0,6.0,2,6.0,NaN,NaN,NaN,NaN,0.0
1,hinespa01,1879,1,PRO,NL,85,409,81,146,25,10,2,52.0,NaN,NaN,8,16.0,NaN,NaN,NaN,NaN,NaN
2,ansonca01,1883,1,CHN,NL,98,413,70,127,36,5,0,68.0,NaN,NaN,18,9.0,NaN,NaN,NaN,NaN,NaN
3,birchju01,1883,1,PH4,AA,96,448,95,108,10,1,1,24.0,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN,NaN
4,bradyst01,1883,1,NY4,AA,97,432,69,117,12,6,0,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15392,vottojo01,2018,1,CIN,NL,145,503,67,143,28,2,12,67.0,2.0,0.0,108,101.0,6.0,9.0,0.0,3.0,15.0
15393,wendljo01,2018,1,TBA,AL,139,487,62,146,33,6,7,61.0,16.0,4.0,37,96.0,4.0,9.0,2.0,10.0,11.0
15394,willini01,2018,1,PHI,NL,140,407,53,104,12,3,17,50.0,3.0,2.0,32,111.0,2.0,9.0,0.0,0.0,4.0
15395,yelicch01,2018,1,MIL,NL,147,574,118,187,34,7,36,110.0,22.0,4.0,68,135.0,2.0,7.0,0.0,2.0,14.0
15396,zobribe01,2018,1,CHN,NL,139,455,67,139,28,3,9,58.0,3.0,4.0,55,60.0,1.0,2.0,1.0,7.0,8.0

There are a number of operators besides equal or greater than we can use within a WHERE clause.

| Operator | Description |
| --- |: --- |
| `=` | Equal |
| `<>` | Not Equal |
| `>`, `>=` | Greater than, greater than or equal to |
| `<`, `<=` | Less than, less than or equal to |
| `BETWEEN ` | Between an (inclusive) range |
| `LIKE` | Matching a pattern |
| `IN` | Specify multiple values |

Select all columns from Schools that have a "name_full" value similar to "University of Colorado".

In [33]:
q = """
SELECT 
    *
FROM 
    Schools
WHERE
    name_full LIKE "University of Colorado"
"""

pd.read_sql_query(q,conn)

   schoolID               name_full     city state country
0  colorado  University of Colorado  Boulder    CO     USA

You can use double percentages in a string as wildcards to match similar/containing strings. (Reason there are two percentages is because percentage is a special character in Python strings, so [two percentages escapes this special functionality](http://stackoverflow.com/questions/8775460/mysql-python-like-wildcard))

In [34]:
q = """
SELECT 
    *
FROM 
    Schools
WHERE
    name_full LIKE "%%Colorado%%"
"""

pd.read_sql_query(q,conn)

,schoolID,name_full,city,state,country
0,colocollege,Colorado College,Colorado Springs,CO,USA
1,colorado,University of Colorado,Boulder,CO,USA
2,coloradost,Colorado State University,Fort Collins,CO,USA
3,comines,Colorado School of Mines,Golden,CO,USA
4,costpue,Colorado State University-Pueblo,Pueblo,CO,USA
5,ncolorado,University of Northern Colorado,Greeley,CO,USA

Select all columns from Schools where the state is among Colorado, Utah, and Wyoming.

In [37]:
q = """
SELECT 
    *
FROM 
    Schools
WHERE
    State IN ("CO","UT","WY")
"""

pd.read_sql_query(q,conn)

,schoolID,name_full,city,state,country
0,byu,Brigham Young University,Provo,UT,USA
1,coftlew,Fort Lewis College,Durango,CO,USA
2,colamar,Lamar Community College,Lamar,CO,USA
3,colocollege,Colorado College,Colorado Springs,CO,USA
4,colorado,University of Colorado,Boulder,CO,USA
5,coloradost,Colorado State University,Fort Collins,CO,USA
6,comines,Colorado School of Mines,Golden,CO,USA
7,costpue,Colorado State University-Pueblo,Pueblo,CO,USA
8,cotrini,Trinidad State Junior College,Trinidad,CO,USA
9,denver,University of Denver,Denver,CO,USA
10,eutah,College of Eastern Utah,Price,UT,USA
11,mesast,Mesa State College,Grand Junction,CO,USA
12,ncolorado,University of Northern Colorado,Greeley,CO,USA
13,sutah,Southern Utah University,Cedar City,UT,USA
14,utah,University of Utah,Salt Lake City,UT,USA
15,utahst,Utah State University,Logan,UT,USA
16,utahvalley,Utah Valley State University,Orem,UT,USA
17,utdixie,Dixie State College of Utah,St. George,UT,USA
18,utslxxo,Salt Lake Community College,Salt Lake City,UT,USA
19,utsnojc,Snow College,Ephraim,UT,USA
20,weberst,Weber State College,Ogden,UT,USA
21,wyoming,University of Wyoming,Laramie,WY,USA

Select all players who hit between 55 and 60 home runs in a season.

In [38]:
q = """
SELECT 
    * 
FROM 
    Batting 
WHERE
    HR BETWEEN 55 and 60
"""

pd.read_sql_query(q,conn)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,ruthba01,1921,1,NYA,AL,152,540,177,204,44,16,59,171.0,17.0,13.0,145,81.0,NaN,4.0,4.0,NaN,NaN
1,ruthba01,1927,1,NYA,AL,151,540,158,192,29,8,60,164.0,7.0,6.0,137,89.0,NaN,0.0,14.0,NaN,NaN
2,wilsoha01,1930,1,CHN,NL,155,585,146,208,35,6,56,191.0,3.0,NaN,105,84.0,NaN,1.0,18.0,NaN,NaN
3,foxxji01,1932,1,PHA,AL,154,585,151,213,33,9,58,169.0,3.0,7.0,116,96.0,NaN,0.0,0.0,NaN,NaN
4,greenha01,1938,1,DET,AL,155,556,144,175,23,4,58,146.0,7.0,5.0,119,92.0,NaN,3.0,3.0,NaN,NaN
5,griffke02,1997,1,SEA,AL,157,608,125,185,34,3,56,147.0,15.0,4.0,76,121.0,23.0,8.0,0.0,12.0,12.0
6,griffke02,1998,1,SEA,AL,161,633,120,180,33,3,56,146.0,20.0,5.0,76,121.0,11.0,7.0,0.0,4.0,14.0
7,gonzalu01,2001,1,ARI,NL,162,609,128,198,36,7,57,142.0,1.0,1.0,100,83.0,24.0,14.0,0.0,5.0,14.0
8,rodrial01,2002,1,TEX,AL,162,624,125,187,27,2,57,142.0,9.0,4.0,87,122.0,12.0,10.0,0.0,4.0,14.0
9,howarry01,2006,1,PHI,NL,159,581,104,182,25,1,58,149.0,0.0,0.0,108,181.0,37.0,9.0,0.0,6.0,7.0
10,stantmi03,2017,1,MIA,NL,159,597,123,168,32,0,59,132.0,2.0,2.0,85,163.0,13.0,7.0,0.0,3.0,13.0

Alternatively, we can use AND, OR, NOT operators to string clauses within a WHERE statement together.

In [39]:
q = """
SELECT 
    * 
FROM 
    Batting 
WHERE
    HR < 60 AND HR > 55
"""

pd.read_sql_query(q,conn)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,ruthba01,1921,1,NYA,AL,152,540,177,204,44,16,59,171.0,17.0,13.0,145,81.0,NaN,4.0,4.0,NaN,NaN
1,wilsoha01,1930,1,CHN,NL,155,585,146,208,35,6,56,191.0,3.0,NaN,105,84.0,NaN,1.0,18.0,NaN,NaN
2,foxxji01,1932,1,PHA,AL,154,585,151,213,33,9,58,169.0,3.0,7.0,116,96.0,NaN,0.0,0.0,NaN,NaN
3,greenha01,1938,1,DET,AL,155,556,144,175,23,4,58,146.0,7.0,5.0,119,92.0,NaN,3.0,3.0,NaN,NaN
4,griffke02,1997,1,SEA,AL,157,608,125,185,34,3,56,147.0,15.0,4.0,76,121.0,23.0,8.0,0.0,12.0,12.0
5,griffke02,1998,1,SEA,AL,161,633,120,180,33,3,56,146.0,20.0,5.0,76,121.0,11.0,7.0,0.0,4.0,14.0
6,gonzalu01,2001,1,ARI,NL,162,609,128,198,36,7,57,142.0,1.0,1.0,100,83.0,24.0,14.0,0.0,5.0,14.0
7,rodrial01,2002,1,TEX,AL,162,624,125,187,27,2,57,142.0,9.0,4.0,87,122.0,12.0,10.0,0.0,4.0,14.0
8,howarry01,2006,1,PHI,NL,159,581,104,182,25,1,58,149.0,0.0,0.0,108,181.0,37.0,9.0,0.0,6.0,7.0
9,stantmi03,2017,1,MIA,NL,159,597,123,168,32,0,59,132.0,2.0,2.0,85,163.0,13.0,7.0,0.0,3.0,13.0

We can combine different columns to filter as well.

In [40]:
q = """
SELECT 
    * 
FROM 
    Batting 
WHERE
    HR >= 50 AND teamID LIKE "BOS"
"""

pd.read_sql_query(q,conn)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,foxxji01,1938,1,BOS,AL,149,565,139,197,33,9,50,175.0,5.0,4.0,119,76.0,NaN,0.0,1.0,NaN,NaN
1,ortizda01,2006,1,BOS,AL,151,558,115,160,29,2,54,137.0,1.0,0.0,119,117.0,23.0,4.0,0.0,5.0,12.0

How to compute the number of players in the 2016 season with more than 600 at-bats (AB) from the "Batting" table?

In [42]:
q = """
SELECT
    *
FROM
    Batting
WHERE
    yearID = 2016 AND AB > 600
"""

pd.read_sql_query(q,conn)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abreujo02,2016,1,CHA,AL,159,624,67,183,32,1,25,100.0,0.0,2.0,47,125.0,7.0,15.0,0.0,9.0,21.0
1,altuvjo01,2016,1,HOU,AL,161,640,108,216,42,5,24,96.0,30.0,10.0,60,70.0,11.0,7.0,3.0,7.0,15.0
2,arenano01,2016,1,COL,NL,160,618,116,182,35,6,41,133.0,2.0,3.0,68,103.0,10.0,2.0,0.0,8.0,17.0
3,bettsmo01,2016,1,BOS,AL,158,672,122,214,42,5,31,113.0,26.0,4.0,49,80.0,1.0,2.0,0.0,7.0,12.0
4,bogaexa01,2016,1,BOS,AL,157,652,115,192,34,1,21,89.0,13.0,4.0,58,123.0,0.0,6.0,0.0,3.0,14.0
5,bryankr01,2016,1,CHN,NL,155,603,121,176,35,3,39,102.0,8.0,5.0,75,154.0,5.0,18.0,0.0,3.0,3.0
6,canoro01,2016,1,SEA,AL,161,655,107,195,33,2,39,103.0,0.0,1.0,47,100.0,8.0,8.0,0.0,5.0,18.0
7,desmoia01,2016,1,TEX,AL,156,625,107,178,29,3,22,86.0,21.0,6.0,44,160.0,2.0,5.0,0.0,3.0,11.0
8,doziebr01,2016,1,MIN,AL,155,615,104,165,35,5,42,99.0,18.0,2.0,61,138.0,6.0,8.0,2.0,5.0,12.0
9,eatonad02,2016,1,CHA,AL,157,619,91,176,29,9,14,59.0,14.0,5.0,63,115.0,2.0,14.0,7.0,3.0,6.0
10,encared01,2016,1,TOR,AL,160,601,99,158,34,0,42,127.0,2.0,0.0,87,138.0,3.0,5.0,0.0,8.0,22.0
11,escobal02,2016,1,KCA,AL,162,637,57,166,24,6,7,55.0,17.0,4.0,27,96.0,2.0,3.0,10.0,5.0,16.0
12,hosmeer01,2016,1,KCA,AL,158,605,80,161,24,1,25,104.0,5.0,3.0,57,132.0,5.0,1.0,0.0,4.0,18.0
13,jonesad01,2016,1,BAL,AL,152,619,86,164,19,0,29,83.0,2.0,0.0,39,115.0,2.0,5.0,1.0,8.0,13.0
14,kinslia01,2016,1,DET,AL,153,618,117,178,29,4,28,83.0,14.0,6.0,45,115.0,0.0,13.0,0.0,3.0,5.0
15,kipnija01,2016,1,CLE,AL,156,610,91,168,41,4,23,82.0,15.0,3.0,60,146.0,0.0,6.0,5.0,7.0,21.0
16,lindofr01,2016,1,CLE,AL,158,604,99,182,30,3,15,78.0,19.0,5.0,57,88.0,3.0,5.0,3.0,15.0,18.0
17,longoev01,2016,1,TBA,AL,160,633,81,173,41,4,36,98.0,0.0,3.0,42,144.0,6.0,3.0,0.0,7.0,13.0
18,machama01,2016,1,BAL,AL,157,640,105,188,40,1,37,96.0,0.0,3.0,48,120.0,9.0,3.0,0.0,5.0,14.0
19,odorro01,2016,1,TEX,AL,150,605,89,164,33,4,33,88.0,14.0,7.0,19,135.0,0.0,4.0,0.0,4.0,6.0
20,pedrodu01,2016,1,BOS,AL,154,633,105,201,36,1,15,74.0,7.0,4.0,61,73.0,0.0,0.0,1.0,3.0,24.0
21,schoojo01,2016,1,BAL,AL,162,615,82,164,38,1,25,82.0,1.0,2.0,21,137.0,0.0,8.0,0.0,3.0,16.0
22,seageco01,2016,1,LAN,NL,157,627,105,193,40,5,26,72.0,3.0,3.0,54,133.0,5.0,4.0,0.0,2.0,12.0
23,segurje01,2016,1,ARI,NL,153,637,102,203,41,7,20,64.0,33.0,10.0,39,101.0,1.0,12.0,4.0,2.0,6.0
24,springe01,2016,1,HOU,AL,162,644,116,168,29,5,29,82.0,9.0,10.0,88,178.0,2.0,11.0,0.0,1.0,12.0
25,trumbma01,2016,1,BAL,AL,159,613,94,157,27,1,47,108.0,2.0,0.0,51,170.0,1.0,3.0,0.0,0.0,14.0

### Computing new values and aliasing

We can also compute new metrics within the SELECT clause. Let's compute the number of runs per at-bat for the 2004 Boston team. Select only the columns we care about and also pass a "R/AB" which divides the values in the R column by the values in the "AB" column.

In [44]:
q = """
SELECT 
    playerID, yearID, teamID, R, AB, R/AB
FROM 
    Batting 
WHERE
    teamID = "BOS" AND yearID = 2004
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID    R   AB    R/AB
0   adamste01    2004    BOS    0    0     NaN
1   alvarab01    2004    BOS    0    0     NaN
2   anderji02    2004    BOS    0    0     NaN
3   arroybr01    2004    BOS    0    6  0.0000
4   astacpe01    2004    BOS    0    0     NaN
5   bellhma01    2004    BOS   93  523  0.1778
6   brownja04    2004    BOS    0    0     NaN
7   burksel01    2004    BOS    6   33  0.1818
8   cabreor01    2004    BOS   33  228  0.1447
9   castifr01    2004    BOS    0    0     NaN
10  crespce01    2004    BOS    6   79  0.0759
11  damonjo01    2004    BOS  123  621  0.1981
12  daubabr01    2004    BOS    9   75  0.1200
13  dinarle01    2004    BOS    0    0     NaN
14  dominan01    2004    BOS    0   11  0.0000
15  embreal01    2004    BOS    0    0     NaN
16  foulkke01    2004    BOS    0    0     NaN
17  garcino01    2004    BOS   24  156  0.1538
18  gutieri01    2004    BOS    6   40  0.1500
19  hyzduad01    2004    BOS    3   10  0.3000
20  jonesbo04    2004    BOS    0    0     NaN
21  kaplega01    2004    BOS   51  290  0.1759
22    kimby01    2004    BOS    0    0     NaN
23  leskacu01    2004    BOS    0    0     NaN
24   lowede01    2004    BOS    0    4  0.0000
25  malasma01    2004    BOS    0    0     NaN
26  martian01    2004    BOS    0    0     NaN
27  martipe02    2004    BOS    0    2  0.0000
28  martisa01    2004    BOS    0    4  0.0000
29  mccarda01    2004    BOS   24  151  0.1589
30  mendora01    2004    BOS    0    0     NaN
31  mientdo01    2004    BOS   13  107  0.1215
32  millake01    2004    BOS   74  508  0.1457
33  mirabdo01    2004    BOS   27  160  0.1688
34  muellbi02    2004    BOS   75  399  0.1880
35  myersmi01    2004    BOS    0    0     NaN
36  nelsojo01    2004    BOS    0    0     NaN
37  nixontr01    2004    BOS   24  149  0.1611
38  ortizda01    2004    BOS   94  582  0.1615
39  ramirma02    2004    BOS  108  568  0.1901
40  reesepo01    2004    BOS   32  244  0.1311
41  roberda07    2004    BOS   19   86  0.2209
42  schilcu01    2004    BOS    0    7  0.0000
43  seibeph01    2004    BOS    0    0     NaN
44  snydeea01    2004    BOS    0    4  0.0000
45  timlimi01    2004    BOS    0    0     NaN
46  varitja01    2004    BOS   67  463  0.1447
47  wakefti01    2004    BOS    0    2  0.0000
48  willisc01    2004    BOS    0    0     NaN
49  youklke01    2004    BOS   38  208  0.1827

The "R/AB" calculation uses the same as the column name by default, but we can give it an "alias" or a different name with the [AS](https://www.w3schools.com/sql/sql_alias.asp) clause.

In [46]:
q = """
SELECT 
    playerID, yearID, teamID, G, R, AB,
    R/AB AS "plate efficiency"
FROM 
    Batting 
WHERE
    teamID = "BOS" AND yearID = 2004
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID    G    R   AB  plate efficiency
0   adamste01    2004    BOS   19    0    0               NaN
1   alvarab01    2004    BOS    1    0    0               NaN
2   anderji02    2004    BOS    5    0    0               NaN
3   arroybr01    2004    BOS   32    0    6            0.0000
4   astacpe01    2004    BOS    5    0    0               NaN
5   bellhma01    2004    BOS  138   93  523            0.1778
6   brownja04    2004    BOS    4    0    0               NaN
7   burksel01    2004    BOS   11    6   33            0.1818
8   cabreor01    2004    BOS   58   33  228            0.1447
9   castifr01    2004    BOS    2    0    0               NaN
10  crespce01    2004    BOS   52    6   79            0.0759
11  damonjo01    2004    BOS  150  123  621            0.1981
12  daubabr01    2004    BOS   30    9   75            0.1200
13  dinarle01    2004    BOS   22    0    0               NaN
14  dominan01    2004    BOS    7    0   11            0.0000
15  embreal01    2004    BOS   71    0    0               NaN
16  foulkke01    2004    BOS   72    0    0               NaN
17  garcino01    2004    BOS   38   24  156            0.1538
18  gutieri01    2004    BOS   21    6   40            0.1500
19  hyzduad01    2004    BOS   17    3   10            0.3000
20  jonesbo04    2004    BOS    3    0    0               NaN
21  kaplega01    2004    BOS  136   51  290            0.1759
22    kimby01    2004    BOS    7    0    0               NaN
23  leskacu01    2004    BOS   32    0    0               NaN
24   lowede01    2004    BOS   33    0    4            0.0000
25  malasma01    2004    BOS   19    0    0               NaN
26  martian01    2004    BOS   11    0    0               NaN
27  martipe02    2004    BOS   33    0    2            0.0000
28  martisa01    2004    BOS    3    0    4            0.0000
29  mccarda01    2004    BOS   91   24  151            0.1589
30  mendora01    2004    BOS   27    0    0               NaN
31  mientdo01    2004    BOS   49   13  107            0.1215
32  millake01    2004    BOS  150   74  508            0.1457
33  mirabdo01    2004    BOS   59   27  160            0.1688
34  muellbi02    2004    BOS  110   75  399            0.1880
35  myersmi01    2004    BOS   25    0    0               NaN
36  nelsojo01    2004    BOS    3    0    0               NaN
37  nixontr01    2004    BOS   48   24  149            0.1611
38  ortizda01    2004    BOS  150   94  582            0.1615
39  ramirma02    2004    BOS  152  108  568            0.1901
40  reesepo01    2004    BOS   96   32  244            0.1311
41  roberda07    2004    BOS   45   19   86            0.2209
42  schilcu01    2004    BOS   32    0    7            0.0000
43  seibeph01    2004    BOS    2    0    0               NaN
44  snydeea01    2004    BOS    1    0    4            0.0000
45  timlimi01    2004    BOS   76    0    0               NaN
46  varitja01    2004    BOS  137   67  463            0.1447
47  wakefti01    2004    BOS   32    0    2            0.0000
48  willisc01    2004    BOS   28    0    0               NaN
49  youklke01    2004    BOS   72   38  208            0.1827

How to compute the total number of doubles (2B), triples (3B), and home runs (HR) as a column as "multi-base hits"?

In [47]:
q = """
SELECT
    playerID, yearID, 2B+3B+HR AS "multi-base hits"
FROM
    Batting
LIMIT 10
"""

pd.read_sql_query(q,conn)

    playerID  yearID  multi-base hits
0  abercda01    1871                0
1   addybo01    1871                6
2  allisar01    1871                9
3  allisdo01    1871               14
4  ansonca01    1871               14
5  armstbo01    1871                3
6  barkeal01    1871                0
7  barnero01    1871               19
8  barrebi01    1871                1
9  barrofr01    1871                3

There are NaN values returned here for players that had no at-bats. Use the [IS NOT NULL](https://www.w3schools.com/sql/sql_null_values.asp) syntax inside the WHERE clause to remove these. 

**Note**: you will need to use the un-aliased column name (R/AB rather than plate_efficiency) [because](https://dev.mysql.com/doc/refman/5.7/en/problems-with-alias.html): "Standard SQL disallows references to column aliases in a WHERE clause. This restriction is imposed because when the WHERE clause is evaluated, the column value may not yet have been determined."

In [49]:
q = """
SELECT 
    playerID, yearID, teamID, G,
    R/AB as "plate efficiency"
FROM 
    Batting 
WHERE
    teamID = "BOS" 
    AND yearID = 2004 
    AND "plate efficiency" IS NOT NULL
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID    G  plate efficiency
0   adamste01    2004    BOS   19               NaN
1   alvarab01    2004    BOS    1               NaN
2   anderji02    2004    BOS    5               NaN
3   arroybr01    2004    BOS   32            0.0000
4   astacpe01    2004    BOS    5               NaN
5   bellhma01    2004    BOS  138            0.1778
6   brownja04    2004    BOS    4               NaN
7   burksel01    2004    BOS   11            0.1818
8   cabreor01    2004    BOS   58            0.1447
9   castifr01    2004    BOS    2               NaN
10  crespce01    2004    BOS   52            0.0759
11  damonjo01    2004    BOS  150            0.1981
12  daubabr01    2004    BOS   30            0.1200
13  dinarle01    2004    BOS   22               NaN
14  dominan01    2004    BOS    7            0.0000
15  embreal01    2004    BOS   71               NaN
16  foulkke01    2004    BOS   72               NaN
17  garcino01    2004    BOS   38            0.1538
18  gutieri01    2004    BOS   21            0.1500
19  hyzduad01    2004    BOS   17            0.3000
20  jonesbo04    2004    BOS    3               NaN
21  kaplega01    2004    BOS  136            0.1759
22    kimby01    2004    BOS    7               NaN
23  leskacu01    2004    BOS   32               NaN
24   lowede01    2004    BOS   33            0.0000
25  malasma01    2004    BOS   19               NaN
26  martian01    2004    BOS   11               NaN
27  martipe02    2004    BOS   33            0.0000
28  martisa01    2004    BOS    3            0.0000
29  mccarda01    2004    BOS   91            0.1589
30  mendora01    2004    BOS   27               NaN
31  mientdo01    2004    BOS   49            0.1215
32  millake01    2004    BOS  150            0.1457
33  mirabdo01    2004    BOS   59            0.1688
34  muellbi02    2004    BOS  110            0.1880
35  myersmi01    2004    BOS   25               NaN
36  nelsojo01    2004    BOS    3               NaN
37  nixontr01    2004    BOS   48            0.1611
38  ortizda01    2004    BOS  150            0.1615
39  ramirma02    2004    BOS  152            0.1901
40  reesepo01    2004    BOS   96            0.1311
41  roberda07    2004    BOS   45            0.2209
42  schilcu01    2004    BOS   32            0.0000
43  seibeph01    2004    BOS    2               NaN
44  snydeea01    2004    BOS    1            0.0000
45  timlimi01    2004    BOS   76               NaN
46  varitja01    2004    BOS  137            0.1447
47  wakefti01    2004    BOS   32            0.0000
48  willisc01    2004    BOS   28               NaN
49  youklke01    2004    BOS   72            0.1827

In [48]:
q = """
SELECT 
    playerID, yearID, teamID, G,
    R/AB as "plate efficiency"
FROM 
    Batting 
WHERE
    teamID = "BOS" 
    AND yearID = 2004 
    AND R/AB IS NOT NULL
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID    G  plate efficiency
0   arroybr01    2004    BOS   32            0.0000
1   bellhma01    2004    BOS  138            0.1778
2   burksel01    2004    BOS   11            0.1818
3   cabreor01    2004    BOS   58            0.1447
4   crespce01    2004    BOS   52            0.0759
5   damonjo01    2004    BOS  150            0.1981
6   daubabr01    2004    BOS   30            0.1200
7   dominan01    2004    BOS    7            0.0000
8   garcino01    2004    BOS   38            0.1538
9   gutieri01    2004    BOS   21            0.1500
10  hyzduad01    2004    BOS   17            0.3000
11  kaplega01    2004    BOS  136            0.1759
12   lowede01    2004    BOS   33            0.0000
13  martipe02    2004    BOS   33            0.0000
14  martisa01    2004    BOS    3            0.0000
15  mccarda01    2004    BOS   91            0.1589
16  mientdo01    2004    BOS   49            0.1215
17  millake01    2004    BOS  150            0.1457
18  mirabdo01    2004    BOS   59            0.1688
19  muellbi02    2004    BOS  110            0.1880
20  nixontr01    2004    BOS   48            0.1611
21  ortizda01    2004    BOS  150            0.1615
22  ramirma02    2004    BOS  152            0.1901
23  reesepo01    2004    BOS   96            0.1311
24  roberda07    2004    BOS   45            0.2209
25  schilcu01    2004    BOS   32            0.0000
26  snydeea01    2004    BOS    1            0.0000
27  varitja01    2004    BOS  137            0.1447
28  wakefti01    2004    BOS   32            0.0000
29  youklke01    2004    BOS   72            0.1827

Using a ">= 0" will also drop these `NaN` values.

In [50]:
q = """
SELECT 
    playerID, yearID, teamID, G,
    R/AB as "plate efficiency"
FROM 
    Batting 
WHERE
    teamID = "BOS" AND yearID = 2004 AND R/AB >= 0
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID    G  plate efficiency
0   arroybr01    2004    BOS   32            0.0000
1   bellhma01    2004    BOS  138            0.1778
2   burksel01    2004    BOS   11            0.1818
3   cabreor01    2004    BOS   58            0.1447
4   crespce01    2004    BOS   52            0.0759
5   damonjo01    2004    BOS  150            0.1981
6   daubabr01    2004    BOS   30            0.1200
7   dominan01    2004    BOS    7            0.0000
8   garcino01    2004    BOS   38            0.1538
9   gutieri01    2004    BOS   21            0.1500
10  hyzduad01    2004    BOS   17            0.3000
11  kaplega01    2004    BOS  136            0.1759
12   lowede01    2004    BOS   33            0.0000
13  martipe02    2004    BOS   33            0.0000
14  martisa01    2004    BOS    3            0.0000
15  mccarda01    2004    BOS   91            0.1589
16  mientdo01    2004    BOS   49            0.1215
17  millake01    2004    BOS  150            0.1457
18  mirabdo01    2004    BOS   59            0.1688
19  muellbi02    2004    BOS  110            0.1880
20  nixontr01    2004    BOS   48            0.1611
21  ortizda01    2004    BOS  150            0.1615
22  ramirma02    2004    BOS  152            0.1901
23  reesepo01    2004    BOS   96            0.1311
24  roberda07    2004    BOS   45            0.2209
25  schilcu01    2004    BOS   32            0.0000
26  snydeea01    2004    BOS    1            0.0000
27  varitja01    2004    BOS  137            0.1447
28  wakefti01    2004    BOS   32            0.0000
29  youklke01    2004    BOS   72            0.1827

## MIN, MAX, COUNT, AVG, SUM

There are a variety of other comptuations you can run on the data as well using the [MIN and MAX](https://www.w3schools.com/sql/sql_min_max.asp) functions as well as the [COUNT, AVG, and SUM](https://www.w3schools.com/sql/sql_count_avg_sum.asp) functions.

In [51]:
q = """
SELECT 
    *
FROM 
    Batting 
WHERE
    teamID = "BOS" AND yearID = 2004
LIMIT 5
"""

pd.read_sql_query(q,conn)

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,adamste01,2004,2,BOS,AL,19,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,alvarab01,2004,1,BOS,AL,1,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,anderji02,2004,2,BOS,AL,5,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,arroybr01,2004,1,BOS,AL,32,6,0,0,0,0,0,0.0,0.0,0.0,0,5.0,0.0,0.0,1.0,0.0,0.0
4,astacpe01,2004,1,BOS,AL,5,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
q = """
SELECT 
    teamID, yearID, sum(R), sum(H), sum(2B), sum(3B), sum(HR), sum(BB)
FROM 
    Batting 
WHERE
    teamID = "BOS" AND yearID = 2004
"""

pd.read_sql_query(q,conn)

  teamID  yearID  sum(R)  sum(H)  sum(2B)  sum(3B)  sum(HR)  sum(BB)
0    BOS    2004   949.0  1613.0    373.0     25.0    222.0    659.0

The sums of all these values for the Boston Red Sox's 2004 season should be the same as what's reported in the Teams table.

In [53]:
q = """
SELECT 
    teamID, yearID, R, H, 2B, 3B, HR, BB
FROM 
    Teams 
WHERE
    teamID = "BOS" AND yearID = 2004
"""

pd.read_sql_query(q,conn)

  teamID  yearID    R     H   2B  3B   HR     BB
0    BOS    2004  949  1613  373  25  222  659.0

Using the "Appearances" table, we can calculate the average or maximum number of times a player played different positions in a season. What was the maximum number of times David Ortiz played 1st base during his career with Boston?

In [54]:
q = """
SELECT 
    playerID, teamID, MAX(G_1b)
FROM 
    Appearances
WHERE
    playerID = "ortizda01" AND teamID = "BOS"
"""

pd.read_sql_query(q,conn)

    playerID teamID  MAX(G_1b)
0  ortizda01    BOS         45

### Exercise

How many games per season (use the Appearances table) on average did Ortiz play as a Red Sox?

In [ ]:
q = """

"""

pd.read_sql_query(q,conn)

### ORDER BY clause

The table is returned with the row order as its stored in the database. If you wanted to sort the results is ascending (low-to-high) or descending (high-to-low), you would use the [ORDER BY](https://www.w3schools.com/sql/sql_orderby.asp) clause.

Sort players based on their number of HBP in a season since 2010 and show the top-20.

In [55]:
q = """
SELECT 
    playerID, yearID, teamID, G, HBP
FROM 
    Batting 
WHERE
    yearID >= 2010
ORDER BY
    HBP ASC
LIMIT
    20
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID   G  HBP
0   aardsda01    2010    SEA  53  0.0
1    abadfe01    2010    HOU  22  0.0
2   abreuto01    2010    ARI  81  0.0
3   accarje01    2010    TOR   5  0.0
4   aceveal01    2010    NYA  10  0.0
5   acostma01    2010    NYN  41  0.0
6   adamsmi03    2010    SDN  70  0.0
7   affelje01    2010    SFN  53  0.0
8   albaljo01    2010    NYA  10  0.0
9   alberma01    2010    BAL  62  0.0
10  aldrico01    2010    LAA   5  0.0
11  alfonel01    2010    SEA  13  0.0
12  allenbr01    2010    ARI  22  0.0
13  alonsyo01    2010    CIN  22  0.0
14  alvarpe01    2010    PIT  95  0.0
15  ambrihe01    2010    CLE  34  0.0
16  anderbr04    2010    OAK  19  0.0
17  anderga01    2010    LAN  80  0.0
18  anderla03    2010    BOS  18  0.0
19  arencjp01    2010    TOR  11  0.0

We can sort on multiple columns too. Sort players as before on number of HBP descending, but on the number of the games they played ascending. In other words, here are the players who got hit for not that many plate appearances.

In [56]:
q = """
SELECT 
    playerID, yearID, teamID, G, HBP
FROM 
    Batting 
WHERE
    yearID >= 2010
ORDER  BY
    HBP DESC, G ASC
LIMIT
    20
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID    G   HBP
0   rizzoan01    2015    CHN  160  30.0
1    choosh01    2013    CIN  154  26.0
2   weeksri01    2010    MIL  160  25.0
3   guyerbr01    2015    TBA  128  24.0
4   dietrde01    2016    MIA  128  24.0
5   martest01    2013    PIT  135  24.0
6   rizzoan01    2017    CHN  157  24.0
7   guyerbr01    2016    TBA   63  23.0
8   quentca01    2011    CHA  118  23.0
9   harrijo05    2017    PIT  128  23.0
10  nimmobr01    2018    NYN  140  22.0
11  gomezca01    2018    TBA  118  21.0
12  dietrde01    2018    MIA  149  21.0
13  pierrju01    2010    CHA  160  21.0
14  fieldpr01    2010    MIL  161  21.0
15  flowety01    2017    ATL   99  20.0
16  quentca01    2010    CHA  131  20.0
17    jayjo02    2014    SLN  140  20.0
18  rizzoan01    2018    CHN  153  20.0
19  espinda01    2016    WAS  157  20.0

Use the plate_efficiency query from before, but order the 2004 Red Sox players in descending order based on their plate_efficiency (note we can use either the aliased variable or the original variable name within ORDER BY unlike within WHERE).

* [Adam Hyzdu](https://en.wikipedia.org/wiki/Adam_Hyzdu) Put up some big numbers mostly because of few games played (17)
* [Dave Roberts](https://en.wikipedia.org/wiki/Dave_Roberts_%28outfielder%29) Played only part of season, but he knew how to get on base and his Game 4 ALCS stolen base will go down in history.

But other cast of idiots show up with high plate efficiencies: Johnny Damon, Manny Ramirez, Bill Bueller, Kevin Youklis, Mark Bellhorn, Gabe Kapler, David Ortiz, Trot Nixon, Kevin Millar show up with values above 0.15.

In [57]:
q = """
SELECT 
    playerID, yearID, teamID, G, 
    R/AB as plate_efficiency
FROM 
    Batting 
WHERE
    teamID = "BOS" AND yearID = 2004 AND R/AB > 0
ORDER  BY
    plate_efficiency DESC
"""

pd.read_sql_query(q,conn)

     playerID  yearID teamID    G  plate_efficiency
0   hyzduad01    2004    BOS   17            0.3000
1   roberda07    2004    BOS   45            0.2209
2   damonjo01    2004    BOS  150            0.1981
3   ramirma02    2004    BOS  152            0.1901
4   muellbi02    2004    BOS  110            0.1880
5   youklke01    2004    BOS   72            0.1827
6   burksel01    2004    BOS   11            0.1818
7   bellhma01    2004    BOS  138            0.1778
8   kaplega01    2004    BOS  136            0.1759
9   mirabdo01    2004    BOS   59            0.1688
10  ortizda01    2004    BOS  150            0.1615
11  nixontr01    2004    BOS   48            0.1611
12  mccarda01    2004    BOS   91            0.1589
13  garcino01    2004    BOS   38            0.1538
14  gutieri01    2004    BOS   21            0.1500
15  millake01    2004    BOS  150            0.1457
16  cabreor01    2004    BOS   58            0.1447
17  varitja01    2004    BOS  137            0.1447
18  reesepo01    2004    BOS   96            0.1311
19  mientdo01    2004    BOS   49            0.1215
20  daubabr01    2004    BOS   30            0.1200
21  crespce01    2004    BOS   52            0.0759

### Exercise

It is always helpful to have some example rows of data when writing queries. Query the "Gamelogs" table for all the columns but only the first five rows.

In [58]:
q = """
SELECT
    *
FROM
    Gamelogs
LIMIT
    5
"""

pd.read_sql_query(q,conn)

,season,date,game_number,day,visitor,visitor_lg,visitor_game_number,home,home_lg,home_game_number,visitor_score,home_score,outs,daynight,completion,forfeit,protest,park,attendance,game_minutes,visitor_linescore,home_linescore,visitor_ab,visitor_h,visitor_2b,visitor_3b,visitor_hr,visitor_rbi,visitor_sh,visitor_sf,visitor_hbp,visitor_bb,visitor_ibb,visitor_so,visitor_sb,visitor_cs,visitor_gidp,visitor_ci,visitor_lob,visitor_pitchers_used,visitor_individual_er,visitor_team_er,visitor_wp,visitor_balks,visitor_putouts,visitor_assists,visitor_errors,visitor_passed_balls,visitor_double_plays,visitor_triple_plays,...,visitor_batter_3_id,visitor_batter_3_name,visitor_batter_3_pos,visitor_batter_4_id,visitor_batter_4_name,visitor_batter_4_pos,visitor_batter_5_id,visitor_batter_5_name,visitor_batter_5_pos,visitor_batter_6_id,visitor_batter_6_name,visitor_batter_6_pos,visitor_batter_7_id,visitor_batter_7_name,visitor_batter_7_pos,visitor_batter_8_id,visitor_batter_8_name,visitor_batter_8_pos,visitor_batter_9_id,visitor_batter_9_name,visitor_batter_9_pos,home_batter_1_id,home_batter_1_name,home_batter_1_pos,home_batter_2_id,home_batter_2_name,home_batter_2_pos,home_batter_3_id,home_batter_3_name,home_batter_3_pos,home_batter_4_id,home_batter_4_name,home_batter_4_pos,home_batter_5_id,home_batter_5_name,home_batter_5_pos,home_batter_6_id,home_batter_6_name,home_batter_6_pos,home_batter_7_id,home_batter_7_name,home_batter_7_pos,home_batter_8_id,home_batter_8_name,home_batter_8_pos,home_batter_9_id,home_batter_9_name,home_batter_9_pos,additional_info,acquisition
0,1871,18710504,0,Thu,CL1,na,1,FW1,na,1,0,2,54.0,D,None,None,None,FOR01,200.0,120.0,000000000,010010000,30.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-1.0,6.0,1.0,-1.0,-1.0,-1.0,4.0,1.0,1.0,1.0,0.0,0.0,27.0,9.0,0.0,3.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,selmf101,Frank Sellman,5.0,mathb101,Bobby Mathews,1.0,foraj101,Jim Foran,3.0,goldw101,Wally Goldsmith,6.0,lennb101,Bill Lennon,2.0,caret101,Tom Carey,4.0,mince101,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,None,Y
1,1871,18710505,0,Fri,BS1,na,1,WS3,na,1,20,18,54.0,D,None,None,None,WAS01,5000.0,145.0,107000435,640113030,41.0,13.0,1.0,2.0,0.0,13.0,0.0,0.0,0.0,18.0,-1.0,5.0,3.0,-1.0,-1.0,-1.0,12.0,1.0,6.0,6.0,1.0,0.0,27.0,13.0,10.0,1.0,2.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,watef102,Fred Waterman,5.0,forcd101,Davy Force,6.0,mille105,Everett Mills,3.0,allid101,Doug Allison,2.0,hallg101,George Hall,7.0,leona101,Andy Leonard,4.0,braia102,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,1871,18710506,0,Sat,CL1,na,2,RC1,na,1,12,4,54.0,D,None,None,None,RCK01,1000.0,140.0,610020003,010020100,49.0,11.0,1.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,10.0,1.0,0.0,0.0,2.0,0.0,27.0,12.0,8.0,5.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mackd101,Denny Mack,3.0,addyb101,Bob Addy,4.0,fishc102,Cherokee Fisher,1.0,hasts101,Scott Hastings,8.0,ham-r101,Ralph Ham,5.0,ansoc101,Cap Anson,2.0,sagep101,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,None,Y
3,1871,18710508,0,Mon,CL1,na,3,CH1,na,1,12,14,54.0,D,None,None,None,CHI01,5000.0,150.0,101403111,077000000,46.0,15.0,2.0,1.0,2.0,10.0,0.0,0.0,0.0,0.0,-1.0,1.0,0.0,-1.0,-1.0,-1.0,7.0,1.0,6.0,6.0,0.0,0.0,27.0,15.0,11.0,6.0,0.0,0.0,...,paboc101,Charlie Pabor,7.0,allia101,Art Allison,8.0,white104,Elmer White,9.0,prata101,Al Pratt,1.0,sutte101,Ezra Sutton,5.0,carlj102,Jim Carleton,3.0,bassj101,John Bass,6.0,mcatb101,Bub McAtee,3.0,kingm101,Marshall King,8.0,hodec101,Charlie Hodes,2.0,woodj106,Jimmy Wood,4.0,simmj101,Joe Simmons,9.0,folet101,Tom Foley,7.0,duffe101,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,None,Y
4,1871,18710509,0,Tue,BS1,na,2,TRO,na,1,9,5,54.0,D,None,None,None,TRO01,3250.0,145.0,000002232,101003000,46.0,17.0,4.0,1.0,0.0,6.0,0.0,0.0,0.0,2.0,-1.0,0.0,1.0,-1.0,-1.0,-1.0,12.0,1.0,2.0,2.0,0.0,0.0,27.0,12.0,5.0,0.0,1.0,0.0,...,birdd102,Dave Birdsall,9.0,mcvec101,Cal McVey,2.0,wrigh101,Harry Wright,8.0,goulc101,Charlie Gould,3.0,schah101,Harry Schafer,5.0,conef101,Fred Cone,7.0,spala101,Al Spalding,1.0,flync101,Clipper Flynn,9.0,mcgem101,Mike McGeary,2.0,yorkt101,Tom York,8.0,mcmuj101,John McMullin,1.0,kings101,Steve King,7.0,beave101,Edward Beavens,4.0,bells101,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

Query the "Gamelogs" table for the "season", "day", and "game_minutes" columns and save the result as `game_minutes_df`.

Make a histogram of the "game_minutes" data.

Use seaborn to make a `catplot` of the `game_minutes_df` visualizing how the length of games have changed over the seasons ("season" on the x-axis, "game_minutes" on the y-axis). What are some interesting trends?

Use seaborn to make a `catplot` of the `game_minutes_df` visualizing how the length of games vary by day of the week ("day" on the x-axis and "game_minutes" on the y-axis). What are some interesting trends?