### More practice with joins
- CU Boulder, INFO3401
- Oct 30, 2020

### Joins



Joining data is **very** fundamental in data analysis. There are different ways to join data and it is important to understand the difference. This is very important for your final project. 

This notebook is designed to give you practice. For this notebook, we will be using a small dataset from a pet hotel. The data consists of "guests" and details about when the "guests" have been fed.

In [7]:
import pandas as pd

guests = pd.DataFrame({'name': ["sir john", "fluffy", "mittens", "taco", "gwyneth"], 
                       "species": ["dog", "cat", "cat", "cat", "dog"],
                       "weight(lb)": [55, 9, 12, 10, 33]})

feedings = pd.DataFrame({"date": ["2020-06-29 08:22:14", "2020-06-29 08:07:17",
                           "2020-06-29 08:23:33", "2020-06-28 08:02:35",
                           "2020-06-29 08:15:12", "2020-06-28 08:14:27"],
                          "name": ["fluffy", "mittens", "gwyneth", "fluffy", "mittens", "taco"]
                         })

## Inner join

There are several ways to join datasets. We will start with an inner join. An inner join merges two dataframes based on the `intersection` of their keys. Remember than an intersection of two sets is all items in both sets.

In [10]:
# Find the intersection of the set of pet names in guests and the set of pet names feedings

guest_names = set() # fill this variable
feedings_names = set() # fill this variable
intersection = None # fill this variable

In [22]:
# TODO: merge the guests and feedings data frames on the name key using an inner join.

# There is some starter code included below to help you out. Your job is to modify the code 
# You might need to consult the documentation 
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html


# guests_feedings_inner = pd.merge(None, None, how="inner", on=None)

guests_feedings_inner = pd.merge(guests, feedings, how="inner", on=None)

#### Questions 

Take a look at `guests_feedings_inner`. 

1. Can you use this table to figure out when Sir John was fed most recently? Why or why not? 

[Type your answer here]

2. What would happen if you used the following line of code to figure out the average weight of cats and dogs at the pet hotel?

[Type your answer here]

In [20]:
guests_feedings_inner.groupby("species")["weight(lb)"].mean()

species
cat    10.4
dog    33.0
Name: weight(lb), dtype: float64

## Outer join

In [32]:
#guests_feedings_inner = pd.merge(None, None, how="outer", on=None)

guests_feedings_outer = pd.merge(guests, feedings, how="outer", on="name")

In [25]:
Take a look at `guests_feedings_outer`. 

1. Why is sir john included in the table this time? 

2. Why is there a NaN for sir john in the date field?

3. What should you conclude about the last time Sir John was fed at the pet hotel?

       name species  weight(lb)                 date
0  sir john     dog          55                  NaN
1    fluffy     cat           9  2020-06-29 08:22:14
2    fluffy     cat           9  2020-06-28 08:02:35
3   mittens     cat          12  2020-06-29 08:07:17
4   mittens     cat          12  2020-06-29 08:15:12
5      taco     cat          10  2020-06-28 08:14:27
6   gwyneth     dog          33  2020-06-29 08:23:33

## The big question! 

The main takeaway from this is you need to be careful when joining data. Make sure you understand *what* pandas (or anther library) is doing and *why*. Run small tests and investigate output to double check that you are right. And make sure you think through how the behavior from the library will affect your conclusions. 

#### Big question

What are you thinking about for your final project? What data do you plan to join? What are possible pitfalls from missing or repeated data in your project?

## Right join and left join

For homework, build on what you have learned so far and investigate right join and left join using the [pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) documentation. You might need to also read about [LEFT JOIN and RIGHT JOIN in SQL](https://www.w3schools.com/sql/sql_join_left.asp) for additional context.

1. What happens when you perform a left join on these tables. What is included and excluded and why? 

2. What happens when you perform a right join on these tables. What is included and excluded and why?